
:root {
  --primary-color: #f53838;
  --secondary-color: #0b132a;
  --text-color: #4f5665;
  --light-gray: #eee;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  color: var(--text-color);
  line-height: 1.6;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn-primary {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--white);
  padding: 13px 45px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 20px 40px -10px rgba(245, 56, 56, 0.35);
  transition: all 0.3s ease;
}

.btn-primary:hover {
  transform: translateY(-3px);
  box-shadow: 0 25px 45px -10px rgba(245, 56, 56, 0.4);
}

.btn-outline {
  display: inline-block;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 13px 45px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn-outline:hover {
  background-color: var(--primary-color);
  color: var(--white);
}


.header {
  padding: 40px 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 36px;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  margin: 0 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 400;
  transition: color 0.3s ease;
}

.navbar ul li a:hover {
  color: var(--secondary-color);
  font-weight: 500;
}

.auth-buttons .sign-in {
  color: var(--secondary-color);
  font-weight: 500;
  text-decoration: none;
  margin-right: 30px;
}

.auth-buttons .sign-up {
  color: var(--primary-color);
  font-weight: 500;
  text-decoration: none;
  border: 1px solid var(--primary-color);
  padding: 10px 30px;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.auth-buttons .sign-up:hover {
  background-color: var(--primary-color);
  color: var(--white);
}